	<div data-role="header" data-position="fixed">
		<h1>Cageball</h1>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			<% @groups.each do |group| %>
			  <li>
				<h3>
					<%= link_to group.name, group  %>				
				</h3>
			  </li>
			<% end %>
		</ul>
	</div>

        <div data-role="footer" data-position="fixed">
          <div data-role="navbar">
                <ul>
                        <li><a href="<%= new_group_path %>">New group</a></li>
                        <li><a href="#">Logg ut</a></li>
                </ul>
          </div>
		  
        </div>
		
