	<div data-role="header" data-position="fixed">
		<h1><%= @group.name %></h1>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			<% @timeslots.each do |timeslot| %>
			  <li>
				<h3>
					<%= link_to dateFormat(timeslot.date), group_timeslot_path(@group, timeslot)  %>				
				</h3>
				<% if (coming_count(timeslot) > 0) %>
						<span class="ui-li-count"><%= coming_count(timeslot) %></span>
				<% end %>
			  </li>
			<% end %>
		</ul>
	</div>

        <div data-role="footer" data-position="fixed">
          <div data-role="navbar">
                <ul>
                        <li><a href="#">Admin</a></li>
                        <li><a href="#">Spillere</a></li>
						<li><a href="javascript:$.mobile.changePage ({url: '/'}, 'none', false, false)" data-icon="refresh">Refresh</a></li>
                        <li><a href="#">Logg ut</a></li>
                </ul>
          </div>
		  
        </div>
