<!DOCTYPE html>
<html>
<head>
  <title>Cageball</title>
  <meta name="google-site-verification" content="SFFIB007Vx2MAM08Jyf1S25yDz4lUkbVUAQ5p-2TqAQ" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	  <%= javascript_include_tag :defaults %>
	  <%= stylesheet_link_tag "style" %>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>

<div data-role="page">
	<%= yield %>
</div>

</body>
</html>
